.route-layout {
    display: flex;
    width: 100%;
    overflow-x: hidden;
    min-height: 100vh;
    flex-direction: column;
}
main {
    padding-top: 2rem;
    padding-left: 3rem;
    min-height: calc(100vh - 3rem);
}
.content {
    flex: 1;
}